@font-face {
  font-family: 'Pixelify Sans';
  src: url(./font/PixelifySans-VariableFont_wght.ttf) format('truetype');
}

html {
  font-family: 'Pixelify Sans';
}

body {
  background-image: url('./img/etg-bg-home.jpg');
  margin: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #0a0609;
  background-size: cover;
  height: 100vh;
}

#content.home {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

#content.menus {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 65% 1fr;
  margin: auto;
}

#content .menu-container {
  height: 100%;
  display: grid;
  grid-column: 2;
  grid-template-rows: auto 1fr;
  background-color: #fe39acd6;
  min-width: min-content;
}

#content.home > img {
  margin-top: 50px;
  grid-column: 1 / 3;
  justify-self: center;
}

#content.menus .sidebar {
  display: grid;
}

.sidebar img {
  width: 180px;
  margin: 20px;
  justify-self: center;
}

#content.home .home-tabs {
  color: darkgray;
  justify-self: center;
  font-size: 3em;
  transition: font-size 100ms;
}

.home-tabs a {
  display: block;
  text-decoration: none;
  color: inherit;
  padding: 20px;
}

#nav .tabs {
  display: flex;
  justify-content: space-between;
}

#nav .tabs div {
  color: black;
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  align-content: space-around;
}

.tabs div a {
  display: block;
  text-decoration: none;
  color: inherit;
  padding: 0.8rem;
}

.tabs div a:hover,
.home-tabs a:hover,
.entry:hover .show-hide-details {
  text-shadow: 0 0 4px #03ffff;
  color: white;
}
.show-hide-details {
  cursor: pointer;
  transition: all 350ms;
}

.menu-container .menu {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-template-rows: min-content;
  padding: 2rem;
  gap: 2rem;
}

.menu .entry {
  display: grid;
  align-content: start;
  grid-template-rows: repeat(3, auto) 1fr;
  background-color: rgba(255, 255, 255, 0.13);
  padding: 2rem;
  min-width: 300px;
  border-radius: 40px 20px;
  user-select: none;
  -moz-user-select: none;
  -webkit-text-select: none;
  -webkit-user-select: none;
  transition: background-color 250ms, border-radius 250ms, box-shadow 350ms;
}

.menu .entry:hover {
  /* Start the animation from the initial state */
  animation: entryHoverMotion 1s linear 350ms infinite alternate;
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.765);
}

@keyframes entryHoverMotion {
  0% {
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.765);
  }

  100% {
    /* Final hover state (equivalent to "10") */
    border-radius: 48px 30px 32px 49px;
    background-color: rgba(255, 255, 255, 0.23);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
  }
}

.menu .entry-name-item {
  display: grid;
  justify-items: center;
}

.menu .entry-name-weapon {
  display: grid;
  grid-template-columns: minmax(max-content, 1fr) max-content 1fr;
  align-items: center;
}

.entry-name-weapon h3 {
  display: inline;
  margin: 0 5px;
  justify-self: center;
}

.entry .entry-detail-sub {
  display: grid;
}

.entry .entry-detail-sub.hidden {
  display: none;
}

.entry-name-item h3 {
  display: inline;
}

.menu .entry img {
  display: inline;
  height: 45px;
  image-rendering: pixelated;
}

.menu-container h1 {
  /* grid-column: 1 / -1; */
  font-size: 3rem;
  padding: 1rem;
  justify-self: center;
}

.menu .entry > p {
  margin: 1rem 0;
}
.menu .entry-detail {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 10px;
  grid-template-rows: 1fr 1fr;
  transition: all 500ms;
}

.entry .show-hide-details {
  margin-top: 1rem;
  text-align: right;
  align-self: end;
}
